<form class="row m-2 justify-content-around" method="post" action="{{ path('profile_delete', {'id': user.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-primary w-25 mx-4">Supprimer</button>
</form>
