{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="row col-sm-4 justify-content-around">
                <h1 class="mx-4 text-center">Edition du compte client</h1>

                {{ include('profile/_form.html.twig', {'button_label': 'Mise à jour'}) }}

                <a class="btn btn-primary w-25 mx-4" href="{{ path('profile_index') }}">Retour à la liste</a>

                {{ include('profile/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
