<form class="row m-2 justify-content-around" method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de cette réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn btn-primary w-25 mx-4">Supprimer</button>
</form>
