<form class="row m-2 justify-content-around" method="post" action="{{ path('vehicle_delete', {'id': vehicle.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce véhicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
    <button class="btn btn-primary w-25 mx-4">Supprimer</button>
</form>
